.navbar-color {
  background-color: #030c8bad; /* Color de fondo personalizado */
}

.link-unstyled {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Usa el color heredado (generalmente, el color predeterminado) */
}

.center-button {
  text-align: center;
}

.botones {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  
}

.h2{
  font-size: 2em;
  color: rgba(18, 31, 214, 0.843);
  text-align: center;
}

.section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url('../styles/fondoD.jpeg')no-repeat;
  background-position: center;
  background-size: cover;
}

.form-box{
  width: 300px;
  height: 250px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  display: flex;
}

.form{
  width: 300px;
  height: 420px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  display: flex;
}

.options{
  text-align: left;
}

.formulario{
position: center;
margin-top: 100px;
}

.formulario-1{
  position: center;
  margin-top: 200px;
  }
